html {
	background: url(../web_background.psd) center no-repeat;
	background-color: #E8C489;
}
header {
	text-align: center;
	display: inline;
}

#headshot {
	top:0px;
	float: left;
}

header div h1 {
	text-align: center;
	font-size: 3em;
	font-family: Poiret One;
	margin-right: 2em;

}

.current {
	padding: 0.5em 3em;
	display: inline-block;
	text-align: center;
	border: 1px solid #D8FFFF;
	background-color: black;
	color: gray;
}

.current:hover {
	background-color: white;
	color: black;
}

nav {
	clear: both;
	text-align: center;
	margin-bottom: 3em;
	font-family: Josefin Slab;
	margin-left: 4%;
}


.nav_bar:hover {
	background-color: white;
	color: black;
}

.nav_bar {
	padding: 0.5em 3em;
	display: inline-block;
	text-align: center;
	border: 1px solid black;
	background-color: #D8FFFF;
	color: gray;

}

section div h3 {
	text-align: center;
	font-family: Josefin Slab;
	font-size: 1.5em;
}

section div h4 {
	text-align: center;
	font-family: Josefin Slab;
	font-size: 1em;
}

.contact p {
	text-align: center;
	font-family: Nixie One;
	font-weight: bold;
	width:40%;
	margin-right: 37.5%;
	padding: 0.5em;
	border: 1px black solid;
	background-color: rgba(216, 255, 255, 0.55);

}

.contact_link:hover {
	background-color: white;
	color: black;
}


.contactimg {
	height: 2em;
	width: 2em;
	margin-right: 0.5em;
}

#contact_form{
	clear: both;
	text-align: center;
	font-family: Nixie One;
	font-weight: bold;

}
#submit_button{
	margin-top: 1em;
}

.g-recaptcha {
	text-align: center;
	display: inline-block;
	position: relative;
	margin-top: 1.5em;
}

section div p {
	width: 40%;
	margin-left: 28%;
	font-family: Nixie One;
	font-weight: bold;
	padding: 3em;
	border: 1px black solid;
	background-color: rgba(216, 255, 255, 0.55);
}



footer {
	display: inline-block;
	bottom: 0px;
	font-size:0.75em;
	width:100%;
	clear: both;

}
